* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 14px;
}


.message {
	color: red;
	font-size: 13px;
}
div {
	margin-top: 10px;

}